.tableContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

.table {
    background-color: white;
    width: 90%;
    overflow:hidden;
    border-collapse: collapse;
    border: solid #ccc 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.trTitle {
    height: 40px;
    font-weight: bold;
}

.trBody {
    height: 50px;
}

.background {
    background-color: white;
    padding-inline-start: 10px;
    border: solid 1px black;
}